* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5d4037;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background-color: #309935; 
  padding: 16px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a {
  color: #d4e42c;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
}

nav a:hover {
  background: #5d4037;
    color: #38b319;
    border-radius: 8px;
}

.row {
  padding: 30px 5%;
  text-align: center;
}

.row-content {
  background-color: #309935;
  color: #d4e42c;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 5%;
}

.image-item {
  flex: 1 1 calc(50% - 10px);
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #4e342e;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.text-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 5% 30px;
}

.text-block {
  flex: 1 1 calc(50% - 10px);
  background-color: #309935;
  color: #d4e42c;
  padding: 20px;
  border-radius: 6px;
  min-width: 280px;
}

.text-block h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.text-block p {
  font-size: 16px;
  line-height: 1.4;
}


footer {
  background-color: #309935;
  color: #d4e42c;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 750px) {
  .image-grid,
  .text-grid {
    flex-direction: column;
  }

  .image-item,
  .text-block {
    flex: 1 1 100%;
    min-width: auto;
  }

  .image-item {
    height: 180px;
  }
}