* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6913f; 
  color: #dcdcdc;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background-color: #0944b9; 
  padding: 16px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
}

nav a:hover {
  background: #f6913f;
    color: #0944b9;
    border-radius: 8px;
}

.row {
  padding: 30px 5%;
  text-align: center;
}

.row-content {
  background-color: #0944b9;
  color: #ffffff;
  padding: 25px;
  font-weight: bold;
  font-size: 26px;
  border-radius: 6px;
}


.scroll-padding {
  padding: 20px 5% 30px;
}

.scroll-padding h2 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 10px 0;
  scrollbar-width: thin;
}


.scroll-item {
  flex-shrink: 0;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 400px;
}

.scroll-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.scroll-item__label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}


.blocks-2x2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 5% 30px;
}

.block {
  flex: 1 1 calc(50% - 10px); 
  background-color: #0944b9;
  color: #ffffff;
  padding: 30px;
  border-radius: 6px;
  min-width: 250px; 
}

.block h3 {
  margin-bottom: 10px;
  font-size: 20px;
}


footer {
  background-color: #0944b9;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}


@media (max-width: 750px) {
  .blocks-2x2 {
    flex-direction: column;
  }

  .block {
    flex: 1 1 100%;
  }

  nav {
    flex-wrap: wrap;
    gap: 8px;
  }
}