* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0c2a; 
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background-color: #06bd9b;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a {
  color: #0b0c2a;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
}

nav a:hover {
  background: #0b0c2a;
    color: white;
    border-radius: 8px;
}

.card {
  background-color: #06bd9b;
  color: #0b0c2a;
  padding: 25px;
  font-weight: bold;
  border-radius: 6px;
}


.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 30px;
  font-size: 35px;
  text-align: center;
}


.row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
  font-size: 20px;
  
}

.row2 li
{
  margin: 7px;
}


.row3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  text-align: center;  
}

.row3 div:hover {
  transform: translateY(-10px);
  transition: transform 1s;
}


.row4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.card-image {
  position: relative;
  border-radius: 6px;
  overflow: hidden; 
  height: 200px; 
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.card-image__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); 
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  text-align: center;
}


 .card-image:hover {
  transform: translateY(-10px);
  transition: transform 1s;
}

.quote {
    background: #33e9ca;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-style: italic;
}





footer {
  background-color: #06bd9b;
  color: #0b0c2a;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .row,
  .row2,
  .row3,
  .row4 {
    grid-template-columns: repeat(1, 1fr);
  }
}